PANCAKE_POS_API_KEY=
PANCAKE_POS_ACCESS_TOKEN=

GHTK_API_TOKEN=
GHTK_PARTNER_CODE=

NHANH_APP_ID=
NHANH_BUSINESS_ID=
NHANH_ACCESS_TOKEN=

SAPO_SHOP_DOMAIN=
SAPO_ACCESS_TOKEN=

HARAVAN_ACCESS_TOKEN=

TIKTOKSHOP_APP_KEY=
TIKTOKSHOP_APP_SECRET=
TIKTOKSHOP_ACCESS_TOKEN=

SHOPEE_PARTNER_ID=
SHOPEE_PARTNER_KEY=
SHOPEE_SHOP_ID=
SHOPEE_ACCESS_TOKEN=

GHN_API_TOKEN=
GHN_SHOP_ID=
